.preloader-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(31, 31, 35);
    display: grid;
    place-items: center;
}

.preloader {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 10px solid #666;
    border-top: #00ffdd solid 10px;
    animation: rotate-preloader 1s linear infinite;
}

@keyframes rotate-preloader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}